# Timestamps
overrides/config/buildcraft/detailed.properties
overrides/config/codechicken/supporters.marker
overrides/config/codechicken/supporters.json
overrides/config/splash.properties
overrides/config/ichunutil.cfg

# Saved player data (JEI search string, etc)
overrides/config/buildcraft/gui.json
overrides/config/jei/worldSettings.cfg

# Other misc data
overrides/config/vanillafix/
overrides/config/XearoWaypoints/
overrides/config/XearoWorldMap/
overrides/config/XaeroWorldMap/testing_null/

overrides/config/XaeroWorldMap/

overrides/config/thaumicjei_itemstack_aspects.json

overrides/config/InvTweaks.cfg

overrides/config/jei/bookmarks.ini

overrides/WCalarms/

overrides/local/

overrides/config/XaeroWaypoints/
