# Configuration file

##########################################################################################################
# config
#--------------------------------------------------------------------------------------------------------#
# Configuration
##########################################################################################################

config {
    # Enables plates taking 2 ingots instead of 1 ingot in the crafting table recipes. [default: false]
    B:harderPlates=false

    # Enables harder recipes for some ic2 and gtclassic electric tools. [default: true]
    B:harderTools=true

    # Enables quite a few of GT recipes using plates instead of ingots. [default: true]
    B:usePlates=true
}


##########################################################################################################
# generation
#--------------------------------------------------------------------------------------------------------#
# Generation configuration
##########################################################################################################

generation {
    # Generate Cinnabar ore in the nether [default: true]
    B:cinnabarGenerate=true

    # Max size of Cinnabar veins [range: 1 ~ 32, default: 16]
    I:cinnabarSize=16

    # Chance of Cinnabar veins to spawn [range: 1 ~ 32, default: 4]
    I:cinnabarWeight=4

    # Generate Olivine ore in the end [default: true]
    B:olivineGenerate=true

    # Max size of Olivine veins [range: 1 ~ 32, default: 8]
    I:olivineSize=8

    # Chance of Olivine veins to spawn [range: 1 ~ 32, default: 5]
    I:olivineWeight=5

    # Generate Pyrite ore in the nether [default: true]
    B:pyriteGenerate=true

    # Max size of Pyrite veins [range: 1 ~ 64, default: 32]
    I:pyriteSize=32

    # Chance of Pyrite veins to spawn [range: 1 ~ 32, default: 8]
    I:pyriteWeight=8

    # Generate Sheldonite ore in the end [default: true]
    B:sheldoniteGenerate=true

    # Max size of Sheldonite veins [range: 1 ~ 32, default: 4]
    I:sheldoniteSize=4

    # Chance of Sheldonite veins to spawn [range: 1 ~ 32, default: 2]
    I:sheldoniteWeight=2

    # Generate Sodalite ore in the end [default: true]
    B:sodaliteGenerate=true

    # Max size of Sodalite veins [range: 1 ~ 32, default: 16]
    I:sodaliteSize=16

    # Chance of Sodalite veins to spawn [range: 1 ~ 32, default: 6]
    I:sodaliteWeight=6

    # Generate Sphalerite ore in the nether [default: true]
    B:sphaleriteGenerate=true

    # Max size of Sphalerite veins [range: 1 ~ 64, default: 32]
    I:sphaleriteSize=32

    # Chance of Sphalerite veins to spawn [range: 1 ~ 32, default: 8]
    I:sphaleriteWeight=8

    # Generate Tungstate ore in the end [default: true]
    B:tungstateGenerate=true

    # Max size of Tungstate veins [range: 1 ~ 32, default: 16]
    I:tungstateSize=16

    # Chance of Tungstate veins to spawn [range: 1 ~ 32, default: 2]
    I:tungstateWeight=2
}


