# Configuration file

"balance settings" {
    I:bagStackSize=512
    D:bitLightPercentage=6.25
    B:blacklistTickingBlocks=true
    B:compatabilityMode=true
    B:damageTools=true
    I:diamondChiselUses=796480
    I:diamondSawUses=7980
    B:enableBitLightSource=true
    B:enableChiselToolHarvestCheck=true
    S:enableChiselToolHarvestCheckTools=pickaxe,axe,shovel
    B:enableSetBitCommand=false
    B:enableToolHarvestLevels=true
    B:fullBlockCrafting=true
    I:goldChiselUses=1024
    I:ironChiselUses=293440
    D:maxDrawnRegionSize=4.0
    B:requireBagSpace=false
    I:stoneChiselUses=8384
    B:voidExcessBits=false
    I:wrenchUses=1888
}


"client performance settings" {
    B:defaultToDynamicRenderer=false
    I:dynamicMaxConcurrentTessalators=32
    I:dynamicModelFaceCount=40
    B:dynamicModelMinimizeLatancy=true
    I:dynamicModelRange=128
    B:dynamicRenderFullChunksOnly=true
    B:forceDynamicRenderer=false
    I:maxMillisecondsPerBlock=10
    I:maxMillisecondsUploadingPerFrame=15
    I:minimizeLatancyMaxTime=100
    S:useVBO=AUTOMATIC
}


"client settings" {
    B:addBrokenBlocksToCreativeClipboard=true
    B:chatModeNotification=false
    I:creativeClipboardSize=32
    B:displayMeasuringTapeInChat=false
    B:enableChiselMode_ConnectedMaterial=true
    B:enableChiselMode_ConnectedPlane=true
    B:enableChiselMode_DrawnRegion=true
    B:enableChiselMode_LargeCube=true
    B:enableChiselMode_Line=true
    B:enableChiselMode_MediumCube=true
    B:enableChiselMode_Plane=true
    B:enableChiselMode_SameMaterial=true
    B:enableChiselMode_SmallCube=true
    B:enableChiselMode_Snap2=true
    B:enableChiselMode_Snap4=true
    B:enableChiselMode_Snap8=true
    B:enablePositivePatternMode_Additive=true
    B:enablePositivePatternMode_Impose=true
    B:enablePositivePatternMode_Placement=true
    B:enablePositivePatternMode_Replace=true
    B:enableRightClickModeChange=false
    B:enableTapeMeasure_Bit=true
    B:enableTapeMeasure_Block=true
    B:enableTapeMeasure_Distance=true
    B:enableToolbarIcons=true
    B:fluidBitsAreClickThrough=true
    B:invertBitBagFullness=false
    B:itemNameModeDisplay=true
    I:maxTapeMeasures=5
    I:maxUndoLevel=32
    B:perChiselMode=true
    B:persistCreativeClipboard=true
    D:radialMenuVolume=0.10000000149011612
    B:showUsage=true
}


crafting {
    B:enableChiselCrafting=true
    B:enableNegativePrintInversionCrafting=true
    B:enablePositivePrintCrafting=true
    B:enableStackableCrafting=true
}


"enabled blocks" {
    B:aroma1997.core.block.AromicBlock=true
    B:aroma1997.world.item.BlockMiningOre=true
    B:"binnie.extratrees.blocks.wood.BlockETLog$1"=true
    B:"binnie.extratrees.blocks.wood.BlockETPlank$1"=true
    B:buildcraft.core.block.BlockDecoration=true
    B:cofh.thermalfoundation.block.BlockOre=true
    B:cofh.thermalfoundation.block.BlockOreFluid=true
    B:cofh.thermalfoundation.block.BlockRockwool=true
    B:cofh.thermalfoundation.block.BlockStorage=true
    B:cofh.thermalfoundation.block.BlockStorageAlloy=true
    B:cofh.thermalfoundation.block.BlockStorageResource=true
    B:com.bluepowermod.block.worldgen.BlockAmethystOre=true
    B:com.bluepowermod.block.worldgen.BlockBasalt=true
    B:com.bluepowermod.block.worldgen.BlockMalachiteOre=true
    B:com.bluepowermod.block.worldgen.BlockRubyOre=true
    B:com.bluepowermod.block.worldgen.BlockSapphireOre=true
    B:com.bluepowermod.block.worldgen.BlockStoneOre=true
    B:com.bluepowermod.block.worldgen.BlockStoneOreConnected=true
    B:com.bluepowermod.block.worldgen.BlockTeslatiteOre=true
    B:com.creativemd.igcm.block.BlockAdvancedWorkbench=true
    B:com.creativemd.littletiles.common.blocks.BlockLTColored=true
    B:com.creativemd.littletiles.common.blocks.BlockStorageTile=true
    B:com.elytradev.teckle.common.block.BlockCompacted=true
    B:com.elytradev.teckle.common.block.BlockNikoliteOre=true
    B:com.nekokittygames.mffs.common.block.BlockMonazitOre=true
    B:com.nekokittygames.thaumictinkerer.common.blocks.BlockBlackQuartz=true
    B:exterminatorjeff.undergroundbiomes.common.block.IgneousBrick=true
    B:exterminatorjeff.undergroundbiomes.common.block.IgneousCobble=true
    B:exterminatorjeff.undergroundbiomes.common.block.IgneousMonsterStone=true
    B:exterminatorjeff.undergroundbiomes.common.block.IgneousMossyCobble=true
    B:exterminatorjeff.undergroundbiomes.common.block.IgneousOvergrown=true
    B:exterminatorjeff.undergroundbiomes.common.block.IgneousOvergrownSnowed=true
    B:exterminatorjeff.undergroundbiomes.common.block.IgneousStone=true
    B:exterminatorjeff.undergroundbiomes.common.block.MetamorphicBrick=true
    B:exterminatorjeff.undergroundbiomes.common.block.MetamorphicCobble=true
    B:exterminatorjeff.undergroundbiomes.common.block.MetamorphicMonsterStone=true
    B:exterminatorjeff.undergroundbiomes.common.block.MetamorphicMossyCobble=true
    B:exterminatorjeff.undergroundbiomes.common.block.MetamorphicOvergrown=true
    B:exterminatorjeff.undergroundbiomes.common.block.MetamorphicOvergrownSnowed=true
    B:exterminatorjeff.undergroundbiomes.common.block.MetamorphicStone=true
    B:exterminatorjeff.undergroundbiomes.common.block.SedimentaryMonsterStone=true
    B:exterminatorjeff.undergroundbiomes.common.block.SedimentaryMossyCobble=true
    B:exterminatorjeff.undergroundbiomes.common.block.SedimentaryOvergrown=true
    B:exterminatorjeff.undergroundbiomes.common.block.SedimentaryOvergrownSnowed=true
    B:exterminatorjeff.undergroundbiomes.common.block.SedimentaryStone=true
    B:exterminatorjeff.undergroundbiomes.common.block.UBOreIgneous=true
    B:exterminatorjeff.undergroundbiomes.common.block.UBOreMetamorphic=true
    B:exterminatorjeff.undergroundbiomes.common.block.UBOreSedimentary=true
    B:"forestry.apiculture.blocks.BlockHoneyComb$1"=true
    B:"forestry.arboriculture.blocks.BlockArbLog$1"=true
    B:"forestry.arboriculture.blocks.BlockArbPlanks$1"=true
    B:forestry.arboriculture.blocks.BlockCharcoal=true
    B:"forestry.arboriculture.blocks.BlockFireproofVanillaLog$1"=true
    B:"forestry.arboriculture.blocks.BlockFireproofVanillaPlanks$1"=true
    B:forestry.arboriculture.blocks.BlockLoam=true
    B:forestry.core.blocks.BlockAshBrick=true
    B:forestry.core.blocks.BlockResourceOre=true
    B:forestry.core.blocks.BlockResourceStorage=true
    B:gtclassic.block.GTBlockCasing=true
    B:gtclassic.block.GTBlockGlass=true
    B:gtclassic.block.GTBlockOreSand=true
    B:gtclassic.block.GTBlockOreStone=true
    B:gtclassic.block.GTBlockSand=true
    B:gtclassic.block.GTBlockStone=true
    B:gtclassic.material.GTMaterialBlock=true
    B:ic2.core.block.misc.BlockExplosive=true
    B:ic2.core.block.misc.BlockFoamWool=true
    B:ic2.core.block.misc.BlockPixelFoam=true
    B:ic2.core.block.misc.BlockWall=true
    B:ic2.core.block.resources.BlockMetal=true
    B:me.ichun.mods.ichunutil.common.block.BlockCompactPorkchop=true
    B:mods.railcraft.common.blocks.aesthetics.brick.BlockBrick=true
    B:mods.railcraft.common.blocks.aesthetics.concrete.BlockReinforcedConcrete=true
    B:mods.railcraft.common.blocks.aesthetics.metals.BlockMetal=true
    B:mods.railcraft.common.blocks.ore.BlockOreMagic=true
    B:mods.railcraft.common.blocks.ore.BlockOreMetal=true
    B:mods.railcraft.common.blocks.ore.BlockOreMetalPoor=true
    B:net.coderbot.quartzium.blocks.BlockDecoration=true
    B:net.coderbot.quartzium.blocks.BlockLamp=true
    B:net.coderbot.quartzium.blocks.BlockOre=true
    B:net.coderbot.quartzium.blocks.functional.BlockFlame=true
    B:net.coderbot.redwoods.block.BlockCenterLog=true
    B:net.coderbot.redwoods.block.BlockConiferPlanks=true
    B:net.coderbot.redwoods.block.BlockQuarterLog=true
    B:net.minecraft.block.Block=true
    B:net.minecraft.block.BlockBone=true
    B:net.minecraft.block.BlockBookshelf=true
    B:net.minecraft.block.BlockClay=true
    B:net.minecraft.block.BlockColored=true
    B:net.minecraft.block.BlockCompressedPowered=true
    B:net.minecraft.block.BlockConcretePowder=true
    B:net.minecraft.block.BlockDirt=true
    B:net.minecraft.block.BlockGlass=true
    B:net.minecraft.block.BlockGlazedTerracotta=true
    B:net.minecraft.block.BlockGlowstone=true
    B:net.minecraft.block.BlockGrass=true
    B:net.minecraft.block.BlockGravel=true
    B:net.minecraft.block.BlockHardenedClay=true
    B:net.minecraft.block.BlockHay=true
    B:net.minecraft.block.BlockIce=true
    B:net.minecraft.block.BlockMelon=true
    B:net.minecraft.block.BlockMycelium=true
    B:net.minecraft.block.BlockNetherBrick=true
    B:net.minecraft.block.BlockNetherrack=true
    B:net.minecraft.block.BlockNewLeaf=true
    B:net.minecraft.block.BlockNewLog=true
    B:net.minecraft.block.BlockObserver=true
    B:net.minecraft.block.BlockObsidian=true
    B:net.minecraft.block.BlockOldLeaf=true
    B:net.minecraft.block.BlockOldLog=true
    B:net.minecraft.block.BlockOre=true
    B:net.minecraft.block.BlockPackedIce=true
    B:net.minecraft.block.BlockPlanks=true
    B:net.minecraft.block.BlockPrismarine=true
    B:net.minecraft.block.BlockQuartz=true
    B:net.minecraft.block.BlockRedSandstone=true
    B:net.minecraft.block.BlockRedstoneLight=true
    B:net.minecraft.block.BlockRedstoneOre=true
    B:net.minecraft.block.BlockRotatedPillar=true
    B:net.minecraft.block.BlockSand=true
    B:net.minecraft.block.BlockSandStone=true
    B:net.minecraft.block.BlockSeaLantern=true
    B:net.minecraft.block.BlockSilverfish=true
    B:net.minecraft.block.BlockSlime=true
    B:net.minecraft.block.BlockSnowBlock=true
    B:net.minecraft.block.BlockSponge=true
    B:net.minecraft.block.BlockStainedGlass=true
    B:net.minecraft.block.BlockStainedHardenedClay=true
    B:net.minecraft.block.BlockStone=true
    B:net.minecraft.block.BlockStoneBrick=true
    B:net.minecraft.block.BlockWorkbench=true
    B:openblocks.common.block.BlockElevator=true
    B:openblocks.common.block.BlockSponge=true
    B:ovh.corail.tombstone.block.BlockDarkMarble=true
    B:prospector.traverse.blocks.base.BlockTraverse=true
    B:prospector.traverse.blocks.base.BlockTraverseWoodLog=true
    B:prospector.traverse.blocks.base.BlockTraverseWoodPlanks=true
    B:shadows.fastbench.block.BlockFastBench=true
    B:"team.chisel.Features$31$1"=true
    B:"team.chisel.Features$32$1"=true
    B:"team.chisel.Features$33$1"=true
    B:"team.chisel.Features$37$1"=true
    B:"team.chisel.Features$49$1"=true
    B:"team.chisel.Features$57$1"=true
    B:"team.chisel.Features$7$1"=true
    B:"team.chisel.Features$73"=true
    B:team.chisel.common.block.BlockCarvable=true
    B:team.chisel.common.block.BlockCarvableCarpet=true
    B:techreborn.blocks.BlockFusionCoil=true
    B:techreborn.blocks.BlockMachineFrames=true
    B:techreborn.blocks.BlockOre=true
    B:techreborn.blocks.BlockOre2=true
    B:techreborn.blocks.BlockRubberPlank=true
    B:techreborn.blocks.BlockStorage=true
    B:techreborn.blocks.BlockStorage2=true
    B:thaumcraft.common.blocks.basic.BlockMetalTC=true
    B:thaumcraft.common.blocks.basic.BlockPlanksTC=true
    B:thaumcraft.common.blocks.basic.BlockStonePorous=true
    B:thaumcraft.common.blocks.basic.BlockStoneTC=true
    B:thaumcraft.common.blocks.misc.BlockFlesh=true
    B:thaumcraft.common.blocks.world.ore.BlockOreTC=true
    B:thaumcraft.common.blocks.world.plants.BlockLogsTC=true
    B:therealfarfetchd.quacklib.common.block.BlockNikoliteOre=true
    B:trinsdar.ic2c_extras.blocks.BlockMetal=true
    B:trinsdar.ic2c_extras.blocks.BlockStoneDust=true
    B:twilightforest.block.BlockTFAuroraBrick=true
    B:twilightforest.block.BlockTFAuroraPillar=true
    B:twilightforest.block.BlockTFCastleBlock=true
    B:twilightforest.block.BlockTFCastleDoor=true
    B:twilightforest.block.BlockTFCastleMagic=true
    B:twilightforest.block.BlockTFCastlePillar=true
    B:twilightforest.block.BlockTFCinderFurnace=true
    B:twilightforest.block.BlockTFCinderLog=true
    B:twilightforest.block.BlockTFCompressed=true
    B:twilightforest.block.BlockTFDarkLeaves=true
    B:twilightforest.block.BlockTFDeadrock=true
    B:twilightforest.block.BlockTFFluffyCloud=true
    B:twilightforest.block.BlockTFGiantCobble=true
    B:twilightforest.block.BlockTFGiantLog=true
    B:twilightforest.block.BlockTFGiantObsidian=true
    B:twilightforest.block.BlockTFHugeStalk=true
    B:twilightforest.block.BlockTFLog=true
    B:twilightforest.block.BlockTFMagicLog=true
    B:twilightforest.block.BlockTFMagicLogSpecial=true
    B:twilightforest.block.BlockTFMazestone=true
    B:twilightforest.block.BlockTFNagastone=true
    B:twilightforest.block.BlockTFNagastoneEtched=true
    B:twilightforest.block.BlockTFNagastonePillar=true
    B:twilightforest.block.BlockTFRoots=true
    B:twilightforest.block.BlockTFShield=true
    B:twilightforest.block.BlockTFTowerDevice=true
    B:twilightforest.block.BlockTFTowerWood=true
    B:twilightforest.block.BlockTFTrollSteinn=true
    B:twilightforest.block.BlockTFUncraftingTable=true
    B:twilightforest.block.BlockTFUnderBrick=true
    B:vazkii.quark.automation.block.BlockSugar=true
    B:vazkii.quark.building.block.BlockBark=true
    B:vazkii.quark.building.block.BlockCarvedWood=true
    B:vazkii.quark.building.block.BlockCharredNetherBricks=true
    B:vazkii.quark.building.block.BlockDuskbound=true
    B:vazkii.quark.building.block.BlockDuskboundLantern=true
    B:vazkii.quark.building.block.BlockHardenedClayTiles=true
    B:vazkii.quark.building.block.BlockIronPlate=true
    B:vazkii.quark.building.block.BlockMagmaBricks=true
    B:vazkii.quark.building.block.BlockMidori=true
    B:vazkii.quark.building.block.BlockMidoriPillar=true
    B:vazkii.quark.building.block.BlockNewSandstone=true
    B:vazkii.quark.building.block.BlockPolishedNetherrack=true
    B:vazkii.quark.building.block.BlockPolishedStone=true
    B:vazkii.quark.building.block.BlockQuiltedWool=true
    B:vazkii.quark.building.block.BlockReed=true
    B:vazkii.quark.building.block.BlockSandyBricks=true
    B:vazkii.quark.building.block.BlockSnowBricks=true
    B:vazkii.quark.building.block.BlockSoulSandstone=true
    B:vazkii.quark.building.block.BlockStainedClayTiles=true
    B:vazkii.quark.building.block.BlockStainedPlanks=true
    B:vazkii.quark.building.block.BlockSturdyStone=true
    B:vazkii.quark.building.block.BlockThatch=true
    B:vazkii.quark.building.block.BlockVerticalPlanks=true
    B:vazkii.quark.building.block.BlockVerticalStainedPlanks=true
    B:vazkii.quark.building.block.BlockWorldStoneBricks=true
    B:vazkii.quark.building.block.BlockWorldStonePavement=true
    B:vazkii.quark.decoration.block.BlockBlazeLantern=true
    B:vazkii.quark.decoration.block.BlockCharcoal=true
    B:vazkii.quark.decoration.block.BlockCustomBookshelf=true
    B:vazkii.quark.decoration.block.BlockLitLamp=true
    B:vazkii.quark.world.block.BlockBasalt=true
    B:vazkii.quark.world.block.BlockBiomeCobblestone=true
    B:vazkii.quark.world.block.BlockBiotite=true
    B:vazkii.quark.world.block.BlockBiotiteOre=true
    B:vazkii.quark.world.block.BlockCrystal=true
    B:vazkii.quark.world.block.BlockLimestone=true
    B:vazkii.quark.world.block.BlockMarble=true
    B:vswe.stevescarts.blocks.BlockMetalStorage=true
}


"integration settings" {
    B:ShowBitsInJEI=false
    B:enableMCMultipart=true
    B:enableVivecraftCompatibility=false
}


items {
    B:enableBitBag=true
    B:enableBitSaw=true
    B:enableBitTank=true
    B:enableChisledBits=true
    B:enableDiamondChisel=true
    B:enableGoldChisel=true
    B:enableIronChisel=true
    B:enableMirrorPrint=true
    B:enableNegativePrint=true
    B:enablePositivePrint=true
    B:enableStoneChisel=true
    B:enableTapeMeasure=true
    B:enableWoodenWrench=true
}


"revertible states" {
    B:"minecraft%3Adiamond_block?"=true
    B:"minecraft%3Airon_block?"=true
}


troubleshooting {
    B:disableCustomVertexFormats=false
    B:enableAPITestingItem=false
    B:enableFaceLightmapExtraction=true
    B:logEligibilityErrors=false
    B:logTileErrors=false
    B:useGetLightValue=true
}


