# Configuration file

general {
    S:profileName=new1
    S:profiles <
     >
}


module {
    B:enableBrewing=false
    B:enableFurnace=false
    B:enableSwitchButton=true
    B:enableWorkbench=false
}


